body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

#game-container {
  width: 500px;
  height: 800px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.bubble {
  border-radius: 50%; /* circle */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: absolute;
  box-shadow: inset 0 0 5px rgba(255,255,255,0.5), 0 0 3px rgba(0,0,0,0.3);
}